@model TransferAggr.WebMvc.Models.Request

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RequestViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*
        <div class="form-group">
            <label asp-for="RequestId" class="control-label"></label>
            <input asp-for="RequestId" class="form-control" />
            <span asp-validation-for="RequestId" class="text-danger"></span>
        </div>
            *@
            <div class="form-group">
                <label asp-for="From" class="control-label"></label>
                <input asp-for="From.Address" class="form-control" id="InputFrom" />
                <span asp-validation-for="From.Address" class="text-danger"></span>
            </div>
            @*<input asp-for="From.GUID" id="InputFromPlaceId" hidden />
            <input asp-for="From.lon" id="InputFromLongitude" hidden />
            <input asp-for="From.lat" id="InputFromLatitude" hidden />*@
            <input asp-for="FromId" id="InputFromId" hidden />
            <div class="form-group">
                <label asp-for="To" class="control-label"></label>
                <input asp-for="To.Address" class="form-control" id="InputTo" />
                <span asp-validation-for="To.Address" class="text-danger"></span>
            </div>
            @*<input asp-for="To.GUID" id="InputToPlaceId" hidden />
            <input asp-for="To.lon" id="InputToLongitude" hidden />
            <input asp-for="To.lat" id="InputToLatitude" hidden />*@
            <input asp-for="ToId" id="InputToId" hidden />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
